<!DOCTYPE html>

<html>
    <head>
        <title>page not found</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        
        <div class="main_content">
            {{>header}}
            {{>err}}
        </div>
        {{>footer}}
       
    </body>

</html>